@charset "UTF-8";

/* 色・幅・夢・静寂・そして愛 */
:root {
  --colorBlack: #15171a;
  --colorWhite: #fefeff;
  --colorTomato: #dd3b40;
  --colorChocolate: #c05b2c;
  --colorGold: #9f7e00;
  --colorOlive: #688200;
  --colorForest: #008c22;
  --colorTeal: #008780;
  --colorCerulean: #0081b1;
  --colorDenim: #477f9b;
  --colorDanube: #5d79aa;
  --colorLavender: #a156d2;
  --colorAzalea: #d43892;
  --colorCoral: #a36969;
  --colorBlackRGB: 21, 23, 26;
  --colorWhiteRGB: 254, 254, 255;
  --colorTomatoRGB: 240, 59, 64;
  --colorChocolateRGB: 192, 91, 44;
  --colorGoldRGB: 159, 126, 0;
  --colorOliveRGB: 104, 130, 0;
  --colorForestRGB: 0, 140, 34;
  --colorTealRGB: 0, 135, 128;
  --colorCeruleanRGB: 0, 129, 177;
  --colorDenimRGB: 71, 127, 155;
  --colorDanubeRGB: 93, 121, 170;
  --colorLavenderRGB: 161, 86, 210;
  --colorAzaleaRGB: 212, 56, 146;
  --colorCoralRGB: 163, 105, 105;

  --colorBase: var(--colorBlack);
  --colorBaseInvert: var(--colorWhite);
  --colorLink: var(--colorBlack);
  --colorLinkInvert: var(--colorWhite);
  --colorFocus: rgba(var(--colorBlackRGB), 0.5);
  --colorFocusInvert: rgba(var(--colorWhiteRGB), 0.5);

  --bgBase: var(--colorWhite);
  --bgBand: var(--colorBlack);

  --borderInput: var(--colorBlackRGB);
  --borderInputFocus: var(--colorBlackRGB);

  --contentPadding: 0.75rem;
  --contentWidth: 40rem;
}

/* テーミング */
.-Tomato {
  --colorLink: var(--colorTomato);
  --colorFocus: rgba(var(--colorTomatoRGB), 0.5);
  --bgBand: var(--colorTomato);
  --borderInputFocus: var(--colorTomatoRGB);
}
.-Chocolate {
  --colorLink: var(--colorChocolate);
  --colorFocus: rgba(var(--colorChocolateRGB), 0.5);
  --bgBand: var(--colorChocolate);
  --borderInputFocus: var(--colorChocolateRGB);
}
.-Gold {
  --colorLink: var(--colorGold);
  --colorFocus: rgba(var(--colorGoldRGB), 0.5);
  --bgBand: var(--colorGold);
  --borderInputFocus: var(--colorGoldRGB);
}
.-Olive {
  --colorLink: var(--colorOlive);
  --colorFocus: rgba(var(--colorOliveRGB), 0.5);
  --bgBand: var(--colorOlive);
  --borderInputFocus: var(--colorOliveRGB);
}
.-Forest {
  --colorLink: var(--colorForest);
  --colorFocus: rgba(var(--colorForestRGB), 0.5);
  --bgBand: var(--colorForest);
  --borderInputFocus: var(--colorForestRGB);
}
.-Teal {
  --colorLink: var(--colorTeal);
  --colorFocus: rgba(var(--colorTealRGB), 0.5);
  --bgBand: var(--colorTeal);
  --borderInputFocus: var(--colorTealRGB);
}
.-Cerulean {
  --colorLink: var(--colorCerulean);
  --colorFocus: rgba(var(--colorCeruleanRGB), 0.5);
  --bgBand: var(--colorCerulean);
  --borderInputFocus: var(--colorCeruleanRGB);
}
.-Denim {
  --colorLink: var(--colorDenim);
  --colorFocus: rgba(var(--colorDenimRGB), 0.5);
  --bgBand: var(--colorDenim);
  --borderInputFocus: var(--colorDenimRGB);
}
.-Danube {
  --colorLink: var(--colorDanube);
  --colorFocus: rgba(var(--colorDanubeRGB), 0.5);
  --bgBand: var(--colorDanube);
  --borderInputFocus: var(--colorDanubeRGB);
}
.-Lavender {
  --colorLink: var(--colorLavender);
  --colorFocus: rgba(var(--colorLavenderRGB), 0.5);
  --bgBand: var(--colorLavender);
  --borderInputFocus: var(--colorLavenderRGB);
}
.-Azalea {
  --colorLink: var(--colorAzalea);
  --colorFocus: rgba(var(--colorAzaleaRGB), 0.5);
  --bgBand: var(--colorAzalea);
  --borderInputFocus: var(--colorAzaleaRGB);
}
.-Coral {
  --colorLink: var(--colorCoral);
  --colorFocus: rgba(var(--colorCoralRGB), 0.5);
  --bgBand: var(--colorCoral);
  --borderInputFocus: var(--colorCoralRGB);
}

/* いわゆるリセットCSS */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--colorBlack);
  font-size: 1.125rem;
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--bgBase);
}

main {
  display: block;
}

/* Foundation */
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: var(--colorLink);
}

a.-invert:link,
a.-invert:visited,
a.-invert:hover,
a.-invert:focus,
a.-invert:active {
  color: var(--colorLinkInvert);
}

:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--colorFocus);
}

.-invert:focus {
  box-shadow: 0 0 0 4px var(--colorFocusInvert);
}

/* ヘッダー */
.Header {
  color: var(--colorBaseInvert);
  background-color: var(--bgBand);
}

.Header__inner {
  display: flex;
  align-items: center;
  margin: auto;
  padding: var(--contentPadding);
  max-width: var(--contentWidth);
}

.Header__inner > * + * {
  margin-left: 1rem;
}

.Header__title {
  margin-top: 0;
  margin-bottom: 0;
}

.Header__link {
  flex: 0 0 auto;
  display: block;
  border-radius: 999rem;
  width: 2.625rem;
  height: 2.625rem;
  overflow: hidden;
}

.Header__logo {
  display: block;
}

.Header__desc {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

/* フッター */
.Footer {
  color: var(--colorBaseInvert);
  background-color: var(--bgBand);
}

.Footer__inner {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: var(--contentPadding);
  max-width: var(--contentWidth);
  font-size: 1rem;
}

.Footer__inner > * + * {
  margin-left: 1rem;
}

.Footer__credit {
  margin-top: 0;
  margin-bottom: 0;
}

.Footer__license {
  margin-top: 0;
  margin-bottom: 0;
}

/* メインエリア */
.Main {
  display: grid;
  grid-template:
    " t  t  t  t" auto
    " w cw cw cw" auto
    " r cr cr cr" auto
    "ch ch ch ch" auto
    "gc gc gr gr" auto
    "dc dc dr dr" 1fr
    /1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 0 auto;
  padding: 0 var(--contentPadding);
  max-width: var(--contentWidth);
  width: 100%;
}

.Type {
  grid-area: t;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.Type__label {
  margin: 0;
  width: 100%;
  font-size: 0.875rem;
}

.Type__item + .Type__item {
  margin-left: 1rem;
}

.Word {
  grid-area: w;
}

.Reading {
  grid-area: r;
}

.ConjugateWords {
  grid-area: cw;
}

.ConjugateReadings {
  grid-area: cr;
}

.DuplicationChecker {
  grid-area: ch;
}

.GeneratedContents {
  grid-area: gc;
}

.GeneratedReadings {
  grid-area: gr;
}

.DuplicatedContents {
  grid-area: dc;
}

.DuplicatedReadings {
  grid-area: dr;
}

/* ラベルとフォーム */
.Label {
  display: block;
  font-size: 0.875rem;
}
.Label.-inline {
  display: inline;
}

.Input {
  padding: 0.375rem;
  border: 1px solid rgba(var(--borderInput), 0.25);
  border-radius: 0.125rem;
  width: 100%;
  color: inherit;
  font-size: 1.0625rem;
  line-height: 1.4;
  vertical-align: top;
}

.Input.-selection {
  border: initial;
  width: auto;
  vertical-align: middle;
}

.Input.-textarea {
  max-width: 18.75rem;
  resize: vertical;
}

.Input.-textarea.-high {
  min-height: 300px;
}

.Input.-textarea.-low {
  min-height: 300px;
}

.Input:focus {
  border-color: rgba(var(--borderInputFocus), 1);
}

/* https://github.com/ampproject/amphtml/blob/2e9a940e78df8de38a6c06a0772aeaa4839a24d1/css/ampshared.css#L164-L204 */
.VisuallyHidden {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  display: block !important;
  width: 4px !important;
  height: 4px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  opacity: 0 !important;
  overflow: hidden !important;
  visibility: visible !important;
}
