doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title decomoji-conjugator
    meta(content="width=device-width", name="viewport")
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&subset=japanese&display=swap')
    link(rel="stylesheet", href="style/index.css")
    script(src="script/index.ts")

  body
    header.Header
      h1.Title
        a.__link(href="./") デコモジ・コンジュゲイター

    form#conjugator
      input#content(type="text", name="content", value="受託")
      input#reading(type="text", name="reading", value="jutaku")
      input#conjugateContent(type="text", name="conjugateContent", value="")
      input#conjugateReading(type="text", name="conjugateReading", value="")
      
      textarea#output(name="output", cols="30", rows="10")
